<div class="row justify-content-center m-0 header text-center">
  <h3 class="col-12 mt-3">Coconut and Clay Soap</h3>
  <p class="col-12">These soaps are available in a variety of pretty shapes and lovely fragrances.</p>
  <div class="col-12 mt-2">
    <h4>Fragrances:</h4>
    <ul class="m-0 p-0">
      <li class="badge badge-secondary">Charcoal & Mint</li>
      <li class="badge badge-secondary">Rooibos</li>
      <li class="badge badge-secondary">Orange & Ginger</li>
      <li class="badge badge-secondary">Sandalwood</li>
      <li class="badge badge-secondary">Milk & Honey</li>
      <li class="badge badge-secondary">Creamy White (fragrance free)</li>
      <li class="badge badge-secondary">Myrrh (fragrance free)</li>
      <li class="badge badge-secondary">Coco butter (fragrance free)</li>
    </ul>
  </div>
</div>
<app-products [db]="'coconut'" [heading]="''" [content]="''"></app-products>