<app-products [db]="'coconutAndClay'" [heading]="'Coconut and Clay Soap'" [content]="'These soaps are available in a variety of pretty shapes and lovely fragrances.'"></app-products>
<div class="row justify-content-center m-0">
  <div class="fragrances">
    <h3>Fragrances:</h3>
    <ul>
      <li>Charcoal & Mint</li>
      <li>Rooibos</li>
      <li>Orange & Ginger</li>
      <li>Sandalwood</li>
      <li>Milk & Honey</li>
      <li>Creamy White (fragrance free)</li>
      <li>Myrrh (fragrance free)</li>
      <li>Coco butter (fragrance free)</li>
    </ul>
  </div>
</div>