<div class="row justify-content-center m-0 mt-3 header">
  <h3 class="col-md-9">Coconut and Clay Soap</h3>
  <p class="col-md-9">These soaps are available in a variety of pretty shapes and lovely fragrances.</p>
  <div class="col-md-9">
    <b>Fragrances:</b>
    <ul>
      <li>Charcoal & Mint</li>
      <li>Rooibos</li>
      <li>Orange & Ginger</li>
      <li>Sandalwood</li>
      <li>Milk & Honey</li>
      <li>Creamy White (fragrance free)</li>
      <li>Myrrh (fragrance free)</li>
      <li>Coco butter (fragrance free)</li>
    </ul>
  </div>
</div>
<app-products [db]="'coconutAndClay'" [heading]="''" [content]="''"></app-products>