<div class="faqs row justify-content-center m-0 pt-4">
  <div class="col-md-9">
    <h3>Frequently Asked Questions:</h3>
    <div class="container my-5">
      <a class="collapser" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapse">
        <h5 class="row justify-content-center">
          <div class="col"><b>Q:</b> How do I care for natural soaps?</div>
          <i class="col-1 align-self-end text-right fa fa-chevron-down" aria-hidden="true"></i>
        </h5>
      </a>
      <p class="collapse px-3" id="collapseOne">
        <u>A:</u> Store in a dark, dry, well ventilated place if not used. Handmade Soaps vary in colour. Brown & white spots
        are quite normal. When in use, do not allow to stand in water. Place in a soap dish that has drainage holes, away
        from direct sunlight. Ideally use immediately. Within six months to a year of purchase is recommended. Years beyond
        this period it is still very usable but will have lost some scent.
      </p>
    </div>

    <div class="container my-5">
      <a class="collapser" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapse">
        <h5 class="row justify-content-center">
          <div class="col"><b>Q:</b> What ingredients do you use in your soap?</div>
          <i class="col-1 align-self-end text-right fa fa-chevron-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="collapse px-3" id="collapseTwo">
        <p>
          <u>A:</u> Our traditional artisan soap is a beautiful hand cut bar made with care using only the finest ingredients.
          Quality oils are used in the making of our soaps:
        </p>

        <b>Olive Oil:</b>
        <p>
          -Known skin moisturizer
          <br>-Acts as a barrier to seal in the skin's natural moisture
          <br>-Sourced locally
        </p>

        <b>Castor Oil:</b>
        <p>
          -A wonder oil with many skin caring properties
          <br>-Produces smaller bubbles and gives intensity to the lather
        </p>

        <b>Coconut Oil:</b>
        <p>
          -A great all round skin loving oil
          <br>-Creates a silky textured soap
          <br>-Yields a creamy lather
        </p>

        <b>Palm Oil:</b>
        <p>
          -Yields a mild, firm, long lasting soap
        </p>

        <b>Lye:</b>
        <p>
          -Also known as sodium hydroxide
          <br>-Used in the 'saponification' process
        </p>

        <b>Mountain Water:</b>
        <p>
          -Adds to the purity of the product
        </p>

        <b>Natural additives are used to enhance the soap's moisturizing, cleansing and soothing properties. These include:</b>
        <p>
          -Natural Colourants (e.g. pink clay; spirulina)
          <br>-Pure Essential Oils (e.g. lavender; rosemary)
          <br>-Botanicals (e.g. dried herbs like rooibos tea and lavender)
          <br>-Exfoliates (e.g. charcoal or coffee)
        </p>
      </div>
    </div>

    <div class="container my-5">
      <a class="collapser" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapse">
        <h5 class="row justify-content-center">
          <div class="col"><b>Q:</b> Are your soaps safe for sensitive skin?</div>
          <i class="col-1 align-self-end text-right fa fa-chevron-down" aria-hidden="true"></i>
        </h5>
      </a>
      <p class="collapse px-3" id="collapseThree">
        <u>A:</u> Yes, they contain no chemicals, only natural ingredients.</p>
    </div>

    <div class="container my-5">
        <a class="collapser" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapse">
          <h5 class="row justify-content-center">
            <div class="col"><b>Q:</b> Are your soaps grey water and septic tank safe?</div>
            <i class="col-1 align-self-end text-right fa fa-chevron-down" aria-hidden="true"></i>
          </h5>
        </a>
        <p class="collapse px-3" id="collapseFour">
          <u>A:</u> Yes, our soaps are naturally biodegradable.</p>
      </div>
  </div>
</div>