<div class="styled-footer">
  <div class="row justify-content-center p-0 m-0">
    <h4>CONNECT WITH US!</h4>
  </div>
  <div class="row justify-content-center p-0 m-0">
    <a href="https://www.instagram.com/dvs.soap/" target="_blank" class="footer-icons"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/DreamValleyHandmadeSoap/" target="_blank" class="footer-icons"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/lindy-kaese-32471b122/" target="_blank" class="footer-icons"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </div>
  <div class="row justify-content-center p-0 m-0">
      <a href="mailto:lindy@breede.co.za"><i class="fa fa-envelope-o emailIcon" aria-hidden="true"></i>lindy@breede.co.za</a>
  </div>
</div>